.navbar{
    background-color: rgba(58, 56, 56, 1);
}

a, a:hover a:active{
    text-decoration: none;
    color: inherit;
}

a.navbar-brand{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: rgba(47, 171, 26, 1);
    margin-left: 3%;
    margin-right: 3%;
}

.navbar-nav{
    margin-right: 5%;
}

.nav-item{
    color: black; 
    font-size: 1.2em;
    margin-right: 10%;
}

a.Active{
    color: rgba(47, 171, 26, 1);
}

.form-group{
    margin-top: 2%;
}

.container .card{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}